<div class="news">
  {% assign vit_news = site.news | where_exp: 'item', 'item.vit_news' %}
  {% if vit_news != blank %}
    {% assign news_size = vit_news | size %}
    <div
      class="
        table-responsive
        {% if news_size > 3 %}
          responsive-scrollable
        {% endif %}
      "
    >
      <table class="table table-sm table-borderless" style="margin-bottom: 0; border-spacing: 0;">
        {% assign news = vit_news | reverse %}
        {% assign news_limit = news_size %}
        {% for item in news limit: news_limit %}
          <tr style="line-height: 1.1;">
            <th scope="row" style="width: 15%; padding: 0.1rem 0.2rem 0.1rem 0; white-space: nowrap;">{{ item.date | date: '%b %d, %Y' }}</th>
            <td style="padding: 0.1rem 0 0.1rem 0.2rem;">
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
