<!-- Recent Publications Component -->
<hr>
<h2>
Recent Papers
</h2>

<div class="publications">
  {% comment %}
  Display the 15 most recent publications
  Override global grouping settings for this specific bibliography
  {% endcomment %}
  {% bibliography --group_by none --query @*[selected=true]* %}
</div>
